/* Users Page Table */
.Admin_page {
  width: 100%;
  background: #fff;
  border-radius: 8px;
}

/* Prevent long text from breaking layout */
.Admin_page td {
  min-width: 200px;
  word-wrap: break-word;
  white-space: normal;
}

/* Mobile friendly */
@media (max-width: 768px) {
  .Admin_page table {
    font-size: 0.9rem;
  }

  .Admin_page td,
  .Admin_page th {
    padding: 6px;
  }
}

