.footer{
   position: relative;
   width: 100%;
   height: fit-content;
}
.footer-inner-box{
   width: 90%;
   z-index: 1;
   box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
   overflow: hidden;
}
.footer-inner-box a,h6{
   cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}
.footer-content{
   flex-wrap: wrap;
   color: inherit;
}
.footer-content .Footer-Details{
   width: 20%;
}
.background-footer{
    position: absolute;
    height: 30%;
    bottom: 0px;
    background-color: rgb(81, 81, 90);
}
.footer input{
   outline: none;
   border: none;
   background-color: transparent;
}
.footer .head,.Mail{
   border: none;
   border-bottom: 1px solid var(--color);
}