.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}
.card-body>.post-comment{
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
}
.card-body>.post-comment::-webkit-scrollbar{
  display: none;
}
@media (max-width: 768px) {
  .card-body {
    padding: 1rem;
    font-size: 0.9rem;
  }

  .card-body h6 {
    font-size: 1rem;
  }
  .card-body>.post-comment{
    min-height: auto;
    max-height: auto;
  }
}
